.home__sign-wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  padding: 0 2rem;
  gap: 2rem;
}

.home__sign-btn {
  background-color: transparent;
  border: solid 2px var(--tg-theme-button-color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px 2px var(--tg-theme-button-color) inset;
  transition: all 0.2s ease-in-out;
}

.home__sign-btn:hover, .home__sing-btn:active, .home__sign-btn:focus, .home__sign-btn:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 15px 4px var(--tg-theme-button-color) inset;
}

.home__sign > img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.home__sign > p {
  font-size: 2rem;
  color: var(--tg-theme-text-color);
}

@media screen and (max-width: 768px) {
  .home__sign > img {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 480px) {
  .home__sign-wrap {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
  }

  .home__sign > img {
    width: 10rem;
    height: 10rem;
  }
}