* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

:root {
  /* --primary: #615aaf; */
  --secondary: #d4d4d4;
  --accent: #9ADFFF;
}

body {
  /* background-color: var(--primary); */
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.App {
	text-align: center;
  background-color: var(--primary);
  width: clamp(36rem, 100%, 96rem);
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 50%;
  }
}
