* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

:root {
  --primary: #3E3794;
  --secondary: #C6C6C6;
  --accent: #9ADFFF;
}

body {
  background-color: var(--primary);
}

.App {
	text-align: center;
  background-color: var(--primary);
  width: clamp(36rem, 100%, 96rem);
  height: 100dvh;
  margin: 0 auto;
}
